.btn {
  margin-bottom: 5px;
  font-size: 12px;
}

.wrapper {
  display: flex;
}

.img {
  display: block;
}

.textWrapper {
  padding: 10px;
}

.title {
  font-weight: 500;
}

.overviewTitle {
  font-weight: 500;
}

.overview {
  font-size: 13px;
}

.listGenres {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 10px;
}

.itemGenres {
  font-size: 13px;
}

.itemGenres:not(:last-child) {
  margin-right: 10px;
}

.genresTitle {
  font-weight: 500;
}

.listLinks {
  list-style: none;
  margin-top: 10px;
  display: flex;
}

.itemLinks:not(:last-child) {
  margin-right: 10px;
}

.link {
  text-decoration: none;
}
