.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem:not(:last-child) {
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgb(56, 56, 56);
}
